extends layout

block content

	div.effect
		h1
			span.up T
			span.up h
			span.up e 
			span.up  
			span.up S
			span.up e
			span.up a
			span.up r
			span.up c
			span.up h
			span.up i
			span.up n
			span.up a
			span.up t
			span.up o
			span.up r

	p Welcome to #{title}

	input#search(type="text", placeholder="Enter search term")

	div#results
		include templates.html

	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")
	script(src="/javascripts/main.js")
